@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#bod {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Jura", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d1e1da;
  height: 100%;
  min-height: 100%;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* start navbar css */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0 !important;
  z-index: 10 !important;
  width: 100% !important;
}
.navbar {
  background-color: #1e3c4c;
  height: 60px;
  font-size: 1rem;
  display: flex;
  width: 100% !important;
}

.menu-bars {
  /* margin-left: 1rem; */
  font-size: 1.8rem;
  background: none;
}

.nav-menu {
  margin-top: 60px;
  z-index: 0;
  background-color: #797d89;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 900ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.435);
}

.nav-menu.active {
  z-index: 1;
  left: 0;
  transition: 300ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.435);
}

/* .nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
} */

.nav-text {
  display: flex;
  color: white;
  text-shadow: 1px 1px 5px black;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none !important;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
.nav-text:hover {
  background: #b7e9c2;
  color: #1e3c4c;
  border-left: 4px solid #1e3c4c;
  text-shadow: 1px 1px 5px grey;
  font-size: 21px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
/* 
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #B7E9C2;
  color: #1E3C4C ;
} */

.nav-menu-items {
  margin-top: 20px;
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
}

/* .home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */

.sub-links {
  background: #1e3c4c;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: #f5f5f5;
  font-size: 15px;
  transition: all 50ms ease-in-out;
}

.sub-links:hover {
  background: #353636;
  color: #b7e9c2;
  cursor: pointer;
  font-size: 18px;
  transition: all 50ms ease-in-out;
}

/* end navbar css */

/* start main container */

.main-container-active {
  margin-left: 16% !important;
  width: 84% !important;
  margin-bottom: 0 !important;
  z-index: 0;
  height: 100%;
  transition: all 200ms ease-in-out;
  /* background-color: red; */
  position: relative;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.main-container {
  display: block;
  z-index: 0;
  margin-left: 0% !important;
  height: 100%;
  transition: all 50ms ease-in-out;
  position: relative;
  /* 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}
/* end main container */

/*start  additem container */

.add-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92vh;
  overflow: hidden;
}

.add-item-container {
  background-color: #334b58;
  padding: 20px 0 20px 0 !important;
  margin: auto;
  margin-top: 7px;
  border-radius: 5px !important;
  height: 98%;
  width: 98% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.add-item-primary {
  /* margin-top: 20px;
  background-color: white;
  color: #334b58;
  padding: 92px 0 0 0; */
  background-color: white;
  padding: 90px 0 0px 0px;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 20px;
}

/*end  additem container */

/*start  ISR containers */

.isr-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92vh;
  overflow: scroll;
}

.isr-container {
  /* background-color: red; */
  display: block;
  margin: 30px 30px 30px 30px;
  height: 100% !important;
  /* justify-content: space-evenly; */
  /* background-color: red; */
  /* background-color: blue; */
}

.isr-container-form {
  background-color: #b7e9c2;
  padding: 20px 50px 50px 50px;
  border-radius: 5px;
  width: 100%;
  /* height: 100%; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.isr-container-print {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/*end  ISR container */

/* start button */
.form-btn-dark {
  background-color: #1e3c4c !important;
  color: #b7e9c2 !important;
  margin: 0 5px 0 5px !important;
}
.form-btn-dark:hover {
  background-color: #b7e9c2 !important;
  color: #1e3c4c !important;
}

.form-btn-light {
  background-color: #b7e9c2 !important;
  color: #1e3c4c !important;
  margin: 0 5px 0 5px !important;
}
.form-btn-light:hover {
  background-color: #1e3c4c !important;
  color: #b7e9c2 !important;
}
/* end button */

/* start title */
.form-title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}
/* end title */

/* start print barcode stylre */

.print-form {
  background-color: white;

  width: 100%;
}

.print-form-title {
  font-size: 15px;
  margin: 20px 70px 10px 70px; /*top,right,bottom,left*/
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
}

.print-form-details {
  margin: 50px 0px 0px 50px;
}

.print-form-details span {
  margin: 0.4em;
  text-transform: uppercase;
}

.print-form-details ul {
  font-size: 10px;
  list-style-type: none;
  font-weight: bold;
}

.print-sack-number {
  margin: 50px 0px 0px 0px;
  border-style: solid;
  padding: 5px 5px 5px 10px;
  text-align: center;
  font-size: 15px;
}

.print-barcode {
  display: inline-block;
  margin-left: 30px;
  margin-top: 0%;
}

.isr-form {
  text-transform: uppercase;
}

/* end print barcode style */

/* start form-caps */
.form-caps {
  text-transform: uppercase;
}

/* end form-caps */

/* start route-table */
.route-table {
  margin: 30px 30px 15px 30px !important;
  width: 100% !important;
  font-weight: bold;
  font-size: 10px;
}
/* end route-table */

/* start barcode scan container */
.barcode-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92vh;
  overflow: hidden;
  /* background-color: blue; */
}

.barcode-scan-container {
  /* display: block; */

  height: 100%;
  width: 96%;

  margin: auto;
  /* background-color: red; */
  /* background-color: red; */
}

/* .barcode-primary-div{
  margin-left: 30px;
} */

.barcode-scan-panel {
  background-color: #b7e9c2;
  /* margin-left: 60px !important; */
  margin-top: 15px;
  padding: 30px 30px 50px 30px;
  border-radius: 5px;
  width: 100%;
  height: 88vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
/* .col-res{
  width: 100vh !important;
} */

.barcode-scan-result {
  background-color: white;
  width: 100%;
  margin-top: 15px;
  /* margin-left: 60px !important; */
  padding: 30px 90px 20px 90px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  height: 88vh;
}

.details-result h2,
.details-result p {
  font-weight: bold;
  font-style: italic;
}
.details-result span {
  color: turquoise;
}

.btn-undo {
  height: 4em;
}

/* emd barcode scan container */

/* start po container */

.po-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92vh;
  overflow: hidden;
}

.po-container {
  /* background-color: red; */

  margin: auto;
  margin-top: 10px;
  width: 97%;
  height: 100%;
  /* justify-content: space-evenly; */
}

.po-container-form {
  background-color: #334b58;
  padding: 20px 25px 50px 25px;
  border-radius: 5px;
  margin: auto;
  width: 98%;
  height: 89vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.po-container-table {
  overflow: scroll;
  /* overflow-x: hidden; */
  border-radius: 10px;
  height: 56%;
  padding: 10px 10px 10px 10px;
  background-color: #b7e9c2;
  font-size: 12px;
}

.po-container-table button {
  font-size: 10px;
}

.po-card {
  height: 23% !important;
}

.po-container-print-div {
  background-color: #b7e9c2;
  border-radius: 5px;
  width: 98%;
  height: 89vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px 20px 20px 20px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  z-index: 100;
}
.po-container-print {
  z-index: -1;
  background-color: white;
  /* overflow: scroll; */
  width: 100%;
  height: 200vh !important;
  padding: 20px 20px 20px 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* end po container */

/* start signin  */

/* end signin */

/* start alert */

.alert-suc {
  background-color: #ffffff;
  color: #487e54;
  padding: 30px;
  border-radius: 4px;
  font-size: 30 !important;
  margin-top: 72px;
}

.alert-err {
  background-color: #ffffff;
  color: #ff5252;
  padding: 30px;
  border-radius: 4px;
  font-size: large;
  margin-top: 72px;
}

/* end alert */

/*start sign in  */

.signin-container {
  background-color: #1e3c4c;
  color: white;
  padding: 30px 80px 40px 80px !important;
  width: 650px;
  margin: 80px auto;
  border-radius: 5px;
  height: 580px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* end sign in  */

/* start view items  */

.view-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92vh;
  overflow: hidden;
}

.view-item-container {
  background-color: #334b58;
  padding: 20px 0px 20px 0px !important;
  margin: auto;
  margin-top: 7px;
  /* margin-bottom: 10px; */
  border-radius: 5px !important;
  height: 98% !important;
  width: 98% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  vertical-align: auto;
  /* position: relative; */
}

.view-item-container-form {
  overflow: scroll;
  /* overflow-x: hidden; */
  border-radius: 10px;
  height: 80%;
  padding: 5px;
  background-color: lightgray;
}

/* end view items  */

.modal-edit {
  padding: 10px 30px 10px 30px;
}

/* start dashboard */

.dash-wrapper {
  position: static;
  height: 100%;
}

.dash-container h4 {
  font-weight: bold;
  color: #334b58;
  margin-bottom: 30px;
}

.dash-container h5 {
  text-align: center;
  font-weight: bold;
  color: #334b58;

  margin: 20px 50px 10px 50px;
}

.dash-container {
  margin: auto;
  margin-top: 7px;
  padding: 30px 50px 30px 50px;
  border-radius: 5px !important;
  height: 98% !important;
  width: 97% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  vertical-align: auto;
  background-color: #f7f7f7;
}

.dash-card-1 {
  padding: 30px 40px 25px 40px;
  height: 130px;
  width: 280px;
  border-radius: 5px;
  background: #f03f37; /* fallback for old browsers */
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.dash-card-2 {
  padding: 30px 40px 25px 40px;
  height: 130px;
  width: 280px;
  border-radius: 5px;
  background: #fec107; /* fallback for old browsers */
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.dash-card-3 {
  padding: 30px 40px 25px 40px;
  height: 130px;
  width: 280px;
  border-radius: 5px;
  background: #007aff; /* fallback for old browsers */
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.dash-card-1 span,
.dash-card-2 span,
.dash-card-3 span {
  font-weight: bold;
  text-align: center;
  display: block;
}

#val-card {
  font-size: 30px;
}
#lbl-card {
  font-size: 13px;
}

.dash-pie-div {
  height: 410px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.dash-pie-div p {
  display: inline;
}
.pie-container {
  width: 650px;
  height: 400px;
  padding: 30px;
  margin-top: 5px;
  /* background-color: red; */
}

.pie-container-text {
  margin: 70px;
  font-weight: bold;
  color: #334b58;
}

.pie-container-text p {
  display: block;
}

.val-pie {
  color: #007aff;
}

.dash-today-table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dash-today-bar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 80px;
  height: 100%;
}

.table-process-dash {
  background-color: white;
  padding-top: 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
}

.table-process-dash h5 {
  font-size: 15px;
  padding-top: 0px;
}

.table-process-dash-wrapper {
  margin: 50px 0px 50px 0px;
}

.table-weekly-dash {
  font-size: 10px;
}

.table-weekly-dash td,
.table-weekly-dash button {
  font-size: 12px;
}

.detail-detail-dash {
  display: flex;
  justify-content: left;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

.detail-detail-dash div {
  padding-right: 30px;
}

.detail-detail-dash span {
  color: rgb(34, 221, 221);
}

/* end dashboard */
